@import "./rose-pine.css";

* {
  /* reference the color by using @color-name */
  background: @base;
  border: 1px solid @overlay;
  font-family: Hack Nerd Font;
  color: @text;
}

.module {
		padding: 0 9px;
}

#memory {
  color: @foam;
}

#temperature {
  color: @rose;
}

#clock {
  color: @rose;
}
